{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <br>
    <div class="row">
      {% for dog in object_list %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card mb-4">
            <a href="{% url 'shelter:schedule-walk' dog_pk=dog.id %}">
              <img class="card-img-top" src="{{ dog.image.url|default:'https://via.placeholder.com/150' }}"
                   alt="{{ dog.name }}">
              <div class="card-body">
                <h2 class="h4 card-title">{{ dog.name }}</h2>
                <h4 class="card-text text-muted">{{ dog.get_gender_display }} / {{ dog.age }}
                  year{{ dog.age|pluralize }}</h4>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include 'includes/pagination.html' %}
{% endblock %}
