{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Schedule a Walk</h2>
    <form method="post" action="" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Schedule Walk</button>
    </form>
  </div>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const dateInput = document.querySelector('input[type="datetime-local"]');

          dateInput.addEventListener('change', function () {
              const selectedDate = new Date(dateInput.value);
              const hours = selectedDate.getHours();


              if (hours < 10 || hours > 17) {
                  alert('Please select a time between 10:00 and 17:00.');
                  dateInput.value = '';
              }
          });
      });
  </script>
{% endblock %}
