<header class="p-3  text-white" style="background-color: rgba(71,120,123,0.95);margin-bottom: 0;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between"> <!-- justify-content-between додає рівномірний розподіл -->
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto mb-2 justify-content-between mb-md-0"> <!-- justify-content-between -->
        <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Contacts</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Adoption Requests</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Walk a Pet</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About Us</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
